@font-face {
    font-family: 'akzidenz-grotesk_std_boldRg';
    src: url('../fonts/akzidenz/akzidgrostdbol-webfont.eot');
    src: url('../fonts/akzidenz/akzidgrostdbol-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/akzidenz/akzidgrostdbol-webfont.woff') format('woff'),
         url('../fonts/akzidenz/akzidgrostdbol-webfont.ttf') format('truetype'),
         url('../fonts/akzidenz/akzidgrostdbol-webfont.svg#akzidenz-grotesk_std_boldRg') format('svg');
    font-weight: normal;
    font-style: normal;

}
@import url(http://fonts.googleapis.com/css?family=Didact+Gothic);

nav{
    .logo{
        font-family: 'akzidenz-grotesk_std_boldRg';
        text-decoration: none;
        font-size: 2em; 
    }
    h1{
        font-family: 'akzidenz-grotesk_std_boldRg';
    }
}
